body{
  font-family: monospace;
  width:100%;
}

li{
  list-style: none;
}

@font-face {
    font-family: 'Victorian Decade Demo Version';
    font-style: normal;
    font-weight: 400;
    src: local('Victorian Decade Demo Version'), url('https://fonts.cdnfonts.com/s/75653/Victorian Decade Demo Version.woff') format('woff');
}

/*navbar*/

.fa-bars{
  float: right;
  font-size: 2rem;
  color: white;
}
#sidebar{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top:0;
  right: 0;
  background-color: #2a5470;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 1em;
}

.sidebar-nav li{
  line-height: 2em;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition:0.3s;
}

.sidebar-nav a{
  color: white;
  text-decoration: none;
}

.sidebar-nav :hover{
  color: rgb(205, 240, 240);
}

.closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: red;
  text-decoration: none;
}

/*HEADER*/

#head-info{
  width: 100%;
  background: linear-gradient(76deg, #ffa600,  #bf4ad4, #2b67f3);
  height: 27em;

}

h1,h2,h3,h4{
  font-family: 'Victorian Decade Demo Version', sans-serif;
}

h1{
  text-align:right;
  padding-top: 3em;
  font-family: 'Victorian Decade Demo Version', sans-serif;
  font-size: 4em;
  padding-right: 3em;

}

#dp{
  width: 20rem;
  border-radius: 50%;
  height: 20rem;
  top: 0;
  position: absolute;

}

.box {
  position: absolute;
  border-radius: 9%;
  width: 80px;
  height: 80px;

  animation-name: jump;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  backdrop-filter: blur(9em);

}
#b1 {
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.205);
  left: 25%;
  top: 60%;
  animation-timing-function: linear;
}
#b2 {
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.205);
  left: 35%;
  top: 20%;
  animation-timing-function: ease-out;
}
#b3 {
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.205);
  left: 65%;
  top: 50%;
  margin-top: 12rem;
  animation-timing-function:ease-in-out;
}

#b4{
  -webkit-backdrop-filter: blur(8px);  /* Safari 9+ */
  backdrop-filter: blur(8px); /* Chrome and Opera */
  box-shadow: inset 0 0 0 200px rgba(255, 255, 255, 0.205);
  left: 93%;
  top: 60%;
  animation-timing-function: ease-out;
}


@keyframes jump {
  50% {
    top: 10%;
  }
}

/*About*/
#about{
  margin-top:3rem;
  line-height: 2em;
  padding: 50px;
  height: 50%;
  background-image: url("https://thumbs.gfycat.com/AccomplishedWhichGuineafowl.webp");
}

#about h2{
  text-align: center;
  font-size: 2rem;
}

.mySelf{
  font-size: 19px;
}


/*resume*/
#resume{
  text-align: center;
  width:100%;
}
.resume{
  background-color: brown;
  color: white;
  text-decoration: none;
  padding: 9px;
  border-radius: 10%;
}

/*project*/

#projects{
  margin-top: 12px;
}

#projects h3{
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
}

.btn-info{
  float: right;
}

/*footer*/
#contact{
  width: 100%;
}
.con-list{
  display: flex;
  width: 60%;
  float: right;
  margin-top: 7em;
}

.list-item{
  background-color:#0d324d;
  border-radius:50%;
  height: 4rem;
  width:10%;
  text-align: center;
  padding: 0.6em;
  font-size: 26px;
  margin-right: 4px;

}

.text-muted{
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  float: right;
}

/*for mobile/android/iphone*/
@media screen and (max-width: 480px){

  body{
    width: 100%;
  }
  h1{
    padding-left: 4em;
    font-size: 48px;
  }
  #dp{
    width: 40%;
    height: 30%;
  }

  .box{
    width: 40px;
    height: 40px;
  }

  #b1{
    left: 5%;
    margin-top: 7em;
  }

  #b2{
    left: 40%;
  }

  #b3{
    left:79%;
  }

  #b4{
    left: 84%;
  }


  #about{
    width: fit-content;
  }

  .con-list{
    padding-left: 7rem;
    float: left;
  }
  .list-item{
    width: 65%;
  }
}

@media screen and (max-width:1024px){
  body{
    width: 100%;
  }

  h1{
    padding-left:7em;
  }

  p,a{
    font-size: 20px;
  }

  h2,h3,h4{
    font-size: 35px;
  }

  .menu-toggle{
    float: right;
    z-index: 1;

  }
}

.wrapper{
  width: 40%;
  min-width: 570px;
  margin:0 auto;


}
.container{
  width: 100%;
  background-color: #ffffff;
  padding: 30px 30px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0,0,0,0.2);
}
.container *{
  color: black;
  font-weight: 500;
}

#skills{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

.details{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #f8ceec;
background-image: linear-gradient(315deg, #f8ceec 0%, #a88beb 74%);

}

.skills:not(:last-child){
  margin-bottom: 30px;
}

#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 70%;
  }
}

#css-bar{
  animation: css-fill 2s forwards;
}

@keyframes css-fill{
  100%{
      width: 80%;
  }
}

#js-bar{
  animation: js-fill 2s forwards;
}
@keyframes js-fill {
  100%{
      width: 70%;
  }
}

#jQuery-bar{
  animation: jQuery-fill 2s forwards;
}
@keyframes jQuery-fill{
  100%{
      width: 60%;
  }
}
